<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Smart System for Tracking Air Pollution</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="text-gray-600 body-font">
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <img
            src="/static/nrsc-isro.png"
            alt="ISU"
            class="w-auto h-20 p-2"
          />
          <span class="ml-3 text-xl">Smart System for Tracking Air Pollution</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="/" class="mr-5 hover:text-gray-900">Home</a>
          <a href="/about" class="mr-5 hover:text-gray-900">About</a>
          <a
            href="https://github.com/iashutosh9119/SSTA-Smart-System-for-Tracking-Airpollution"
            target="_blank"
            class="mr-5 hover:text-gray-900"
            >Github</a
          >
        </nav>
      </div>
    </header>

    <main class="container mx-auto px-5 py-10">
      <section class="text-gray-700 body-font">
        <div class="container px-5 py-10 mx-auto">
          <div class="text-center mb-10">
            <h1
              class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4"
            >
              About
            </h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
              Air pollution is one of the greatest global challenges of our time, contributing to severe health, environmental, and economic impacts. Pollutants such as particulate matter (PM2.5, PM10), nitrogen oxides (NOx), sulfur dioxide (SO2), carbon monoxide (CO), and ozone (O3) significantly affect air quality, making real-time tracking and predictive analytics crucial.
            </p>
            <p class="mt-4 text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
              This cloud-based platform leverages artificial intelligence and satellite data to monitor and predict air pollution levels using Google Earth Engine. The system helps researchers, policymakers, and environmentalists gain actionable insights to mitigate the adverse effects of air pollution.
            </p>
          </div>

          <!-- Contributors Section -->
          <div class="p-4 w-full">
            <h2
              class="text-xl font-medium title-font text-gray-900 mb-4"
            >
              Contributors
            </h2>
            <ul class="list-disc list-inside">
              <li class="mb-4">
                <strong>Dr. Mahesh Pathakoti</strong><br />
                Scientist-SF<br />
                Earth and Climate Sciences Area (ECSA), NRSC-ISRO<br />
              </li>
              <li class="mb-4">
                <strong>Ashutosh Mishra [ISU SSP24]</strong><br />
                Doctoral Researcher (MEXT Scholar)<br />
                Space Robotics Laboratory, Tohoku University, Japan<br />
              </li>
              <li class="mb-4">
                <strong>T. Santhoshi</strong><br />
                Scientist-SD<br />
                Bhuvan Group, NRSC-ISRO<br />
              </li>
            </ul>
          </div>
          <!-- Mentor Section -->
          <div class="p-4 w-full">
            <h2 class="text-xl font-medium title-font text-gray-900 mb-4">Mentors</h2>
          <p class="leading-relaxed">
            <strong>Dr. Prakash Chauhan</strong><br />
            Director, National Remote Sensing Centre (NRSC), Indian Space Research Organisation (ISRO)
          </p>
        </br>
            <p class="leading-relaxed">
              <strong>Shri G. Srinivasa Rao</strong><br />
              Dy. Director, ECSA, NRSC-ISRO
            </p>
          
          </div>

          <!-- How This Application Helps Section -->
          <div class="p-4 w-full">
            <h2
              class="text-xl font-medium title-font text-gray-900 mb-4"
            >
              How This Application Helps
            </h2>
            <p class="leading-relaxed mb-4">
              By integrating satellite observations, machine learning models, and cloud-based computational power, this application:
            </p>
            <ul class="list-disc list-inside">
              <li class="mb-2">
                Predicts real-time aerosol concentrations and air quality over specific regions.
              </li>
              <li class="mb-2">
                Supports decision-making for urban planning, environmental policy, and public health initiatives.
              </li>
              <li class="mb-2">
                Facilitates educational and research efforts by providing accessible, processed data through Visualization.
              </li>
              <li class="mb-2">
                Enhances early-warning systems for pollution-related health risks. [In Development]
              </li>
            </ul>
          </div>

          <!-- Contact Us Section -->
          <div class="p-4 w-full">
            <h2
              class="text-xl font-medium title-font text-gray-900 mb-4"
            >
              Contact Us
            </h2>
            <p class="leading-relaxed mb-4">
              Have questions or suggestions or want to report bugs and issues? Use the form below to reach out to us.
            </p>
            <form action="/submit" method="post" class="bg-gray-100 rounded-lg p-8">
              <div class="mb-4">
                <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  required
                />
              </div>
              <div class="mb-4">
                <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  required
                />
              </div>
              <div class="mb-4">
                <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
                <textarea
                  id="message"
                  name="message"
                  class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                  required
                ></textarea>
              </div>
              <button
                type="submit"
                class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
              >
                Submit
              </button>
            </form>
          </div>
          <!-- Credits & References Section -->
          <div class="p-4 w-full">
            <h2
              class="text-xl font-medium title-font text-gray-900 mb-4"
            >
              Credits & References
            </h2>
            <ol class="list-decimal list-inside">
              <li class="mb-2">
                Flask: A lightweight WSGI web application framework, developed
                by Armin Ronacher and the Pallets Projects community.
                Available at:
                <a
                  href="https://flask.palletsprojects.com/"
                  class="text-indigo-500"
                  >https://flask.palletsprojects.com/</a
                >
              </li>
              <li class="mb-2">
                Tailblocks: Ready-to-use Tailwind CSS blocks, created by Mert
                Cukuren. Available at:
                <a
                  href="https://mertjf.github.io/tailblocks/"
                  class="text-indigo-500"
                  >https://mertjf.github.io/tailblocks/</a
                >
              </li>
              <li class="mb-2">
                Google Earth Engine: A cloud-based platform for
                planetary-scale environmental data analysis. Available at:
                <a
                  href="https://earthengine.google.com/"
                  class="text-indigo-500"
                  >https://earthengine.google.com/</a
                >
              </li>
              <li class="mb-2">
                "Air Pollution Open Data Sources and Machine Learning Techniques," a reference for algorithmic integration.
              </li>
            </ol>
          </div>


        </div>
      </section>
    </main>

    <footer class="text-gray-600 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <img
            src="/static/nrsc-isro.png"
            alt="ISU"
            class="w-auto h-10 p-2"
          />
          <span class="ml-3 text-xl">Smart System for Tracking Air Pollution</span>
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          © 2024 Smart System for Tracking Air Pollution
        </p>
      </div>
    </footer>
  </body>
</html>
