<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Smart System for Tracking Air Pollution</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="text-gray-600 body-font">
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <img
            src="/static/nrsc-isro.png"
            alt="ISU"
            class="w-auto h-20 p-2"
          />
          <span class="ml-3 text-xl">Smart System for Tracking Air Pollution</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="/" class="mr-5 hover:text-gray-900">Home</a>
          <a href="/about" class="mr-5 hover:text-gray-900">About Us</a>
          <a
            href="https://github.com/iashutosh9119/SSTA-Smart-System-for-Tracking-Airpollution"
            target="_blank"
            class="mr-5 hover:text-gray-900"
            >Github</a
          >
        </nav>
      </div>
    </header>

    <main class="container mx-auto px-5 py-10">
      <section class="text-gray-700 body-font">
        <div class="container px-5 py-10 mx-auto">
          <div class="text-center mb-10">
            <h1
              class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4"
            >
              About Us
            </h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
              An AI-based cloud platform to predict the real-time concentration
              of aerosols over a region using Google Earth Engine.
            </p>
            <p class="mt-4 text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
              This project is under continuous development, and there may be
              errors or issues. Your feedback and contributions are appreciated.
              Please report bugs and provide feedback via email at
              <b> ashutosh.mishra.r5*at*dc.tohoku.ac.jp</b>.
            </p>
          </div>
          <div class="flex flex-wrap">
            <div class="p-4 w-full">
              <h2
                class="text-xl font-medium title-font text-gray-900 mb-4"
              >
                Acknowledgement
              </h2>
              <p class="leading-relaxed mb-4">
                Project developed as final showcase for Department of Space Applications Activity, Space
                Studies Program 2024 organized by International Space University
                in collaboration with NASA Johnson Space Center at Rice
                University Houston, Texas, USA.
              </p>
            </div>
            <div class="p-4 w-full">
              <h2
                class="text-xl font-medium title-font text-gray-900 mb-4"
              >
                Authors
              </h2>
              <ul class="list-disc list-inside">
                <li class="mb-2">
                  <strong>Ashutosh Mishra</strong>, Doctoral Researcher (MEXT
                  Scholar) at Space Robotics Laboratory, Tohoku University,
                  Japan
                </li>
                <li class="mb-2">
                  <strong>Mahesh Pathakoti</strong>, Scientist/Engineer-SF,
                  National Remote Sensing Centre, Indian Space Research
                  Organisation (ISRO), India
                </li>
              </ul>
            </div>
            <div class="p-4 w-full">
              <h2
                class="text-xl font-medium title-font text-gray-900 mb-4"
              >
                Credits & References
              </h2>
              <ol class="list-decimal list-inside">
                <li class="mb-2">
                  Flask: A lightweight WSGI web application framework, developed
                  by Armin Ronacher and the Pallets Projects community.
                  Available at:
                  <a
                    href="https://flask.palletsprojects.com/"
                    class="text-indigo-500"
                    >https://flask.palletsprojects.com/</a
                  >
                </li>
                <li class="mb-2">
                  Tailblocks: Ready-to-use Tailwind CSS blocks, created by Mert
                  Cukuren. Available at:
                  <a
                    href="https://mertjf.github.io/tailblocks/"
                    class="text-indigo-500"
                    >https://mertjf.github.io/tailblocks/</a
                  >
                </li>
                <li class="mb-2">
                  Google Earth Engine: A cloud-based platform for
                  planetary-scale environmental data analysis. Available at:
                  <a
                    href="https://earthengine.google.com/"
                    class="text-indigo-500"
                    >https://earthengine.google.com/</a
                  >
                </li>
                <li class="mb-2">Updating Soon</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="text-gray-600 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <img
            src="/static/nrsc-isro.png"
            alt="ISU"
            class="w-auto h-10 p-2"
          />
          <span class="ml-3 text-xl">Smart System for Tracking Air Pollution</span>
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          © 2024 Smart System for Tracking Air Pollution —
          <a
            href="mailto:ashutosh.mishra@tohoku.ac.jp"
            class="text-gray-600 ml-1"
            target="_blank"
            >Contact Us</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
