<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CO Density over City</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="text-gray-600 body-font">
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <img
            src="/static/LOGO_ISU_Darkblue-1024x572.png"
            alt="ISU"
            class="w-auto h-20 p-2"
          />
          <span class="ml-3 text-xl">Dept of Space Application, SSP24 Project</span>
          <!-- <img src="/static/nasa-logo.svg" alt="NASA" class="w-20 h-20 p-2"> -->
          <!-- <img src="/static/Rice_University_Horizontal_Blue.svg" alt="RICEUNI" class="w-auto h-12 p-2"> -->
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="/" class="mr-5 hover:text-gray-900">Home</a>
          <!-- <a class="mr-5 hover:text-gray-900">Compare Cities</a> -->
          <a href="/about" class="mr-5 hover:text-gray-900">About Us</a>
          <a href="/contact" class="mr-5 hover:text-gray-900">Contact Us</a>
          <a href="https://github.com/iashutosh9119/SSTA-Smart-System-for-Tracking-Airpollution" target="_blank" class="mr-5 hover:text-gray-900">Github</a>

        </nav>
      </div>
    </header>


  </body>
</html>
